language: php

php:
  - 7.4
  - 8.0
  - 8.1
  - 8.2
  - 8.3

jobs:
  allow_failures:
    - php: nightly
  include:
    - php: nightly

install:
  - composer install

script:
  - vendor/bin/phpunit

after_script:
  - if [[ "$TRAVIS_PHP_VERSION" != "8.3" && "$TRAVIS_PHP_VERSION" != "nightly" ]]; then wget https://scrutinizer-ci.com/ocular.phar; fi
  - if [[ "$TRAVIS_PHP_VERSION" != "8.3" && "$TRAVIS_PHP_VERSION" != "nightly" ]]; then php ocular.phar code-coverage:upload --format=php-clover coverage.clover; fi
